body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;;
  }

  /* Header CSS */

  #header-div {
    height: 150px;
    width: 100%;
    border-top: white solid 5px;
    margin-bottom: 100px;
    position: relative;
  }

  #header-img {
    height: 100%;
    width: 9%;
    display: flex;
    position: relative;
    left: 46.5%;

  }

  #main-div {
    position: relative;
    top: 300px;
    left: 80px;
    height: 1000px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    
    
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav svg {
    position: relative;
    top: 28px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  .product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .2rem;
    margin-top: 1rem;  
  }

  .card {
    border: 1px solid grey;
    background-color: black;
    padding: .5rem;
  }

  .hide {
    display: none;
  }

  #search-bar {
    position: relative;
    right: 5px;
    display: none;
  }

  #search-icon {
    cursor: pointer;
  }



  #icon-img {
    height: 10px;
    width: 10px;
  }

  #mid-section {
    position: relative;
    top: 250px;
    text-align: center;
  }

  /* Card Item */

  .card-img {
    position: relative;
    left: 80px;
    height: 800px;
    width: 450px;
    background-color: black;
    border: 3px solid white;
    box-shadow: 10px;
     
  }

  .card-img img {
    height: 500px; 
    width: 400px; 
    position: absolute;
    left: 5%;
    border-radius: 5%;

  }

  .card-img img:hover {
    transform: scale(1.01);
  }

  .card-img button {
    font-family:'Poppins', sans-serif;
    background-color: green;
    color: white;
    font-weight: bold;

  }

  .card-img div {
    display: flex;
  }

  .card-text {
    position: relative;
    top: 550px;
    left: 6%;
    font-size: 1.2rem;
    
  }

  .product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2000px;
    width: 100%;
    position: relative;
    right: 50px;
  }

  .products-grid {
    position: relative;
    top: 600px;
    
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    column-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products-grid img{
    border: 5px solid grey;
  }

  .products-item {
    width: 532; 
    height: 650px; 
    border: 5px solid white;
    background-color: black;
    font-size: 20px;
  }

  .products-item p {
    position: relative;
    bottom: 20px;
    left: 20px;
  }

  .products-item button {
    font-family:'Poppins', sans-serif;
    background-color: green;
    color: white;
    font-weight: bold;
    position: relative;
    left: 40px;
    bottom: 30px;
  }
  

  .products-img {
    height: 520px; 
    width: 532px;
  }



  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }

  /*
  .media-scroller-with-groups {

  }
  */


  button {
    cursor: pointer;
  }



  /* CSS for Basket */



  .basket-table{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1000px;
    left: 300px;
  }
  .basket-table table {
    width: 100%;
  }

  .basket-icon {
    width:  25px; 
    height: 25px;
  }

  /* Cart headings */
  .basket-table th {
    background-color: #303841;
    height: 50px;
    text-align: left;
  }

  .basket-table td input {
    padding: 5px;
    width: 40px;
    height: 30px;

  }

  .basket-item {
    width: 500px;
    height: 500px;
  }

  .basket-item img {
    width: 250px;
    height: 250px;

  }

  .cart-item {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-text{
    position: relative; 
    left: 100px;
    display: flex;
    align-items: center;
  }

  

  .total-table{
    position: relative;
    top: 150px;
    right: 400px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
  }

  .total-table td { 
    padding-bottom: 50px;
  }


  /* Contact Page */

  .contact-form {
    display: block;
  }

  .contact-form input{
    width: 200px;
    height: 50px;

  }

  label {
    font-size: 20px;
  }


  /* Footer CSS */

  footer {
    text-align: center;
    height: 600px;
    position: relative;
    top: 550px;
  }

  hr {
    background-color: white;
  }

  .socials-bar {
    height: 600px;
    display: flex;
    position: relative;
    bottom: 50px;
    gap: 30px;
    align-items: end;
    justify-content: center;

  }

  /* Miscellaneous */

  a {
    color: white;
    font-family: 'Poppins', sans-serif;
    
  }

  .link-style {
    text-align: center;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 900px;
    font-size: 20px;

  }

  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
    transform: scale(1.15);
  } 
  a:active { 
    text-decoration: none; 
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    right: 60px;
  }

  ul li {
    display: inline-block;
    
  }
  ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;

  }

  ul li ul.dropdown li {
    display: block;
  }
  ul li ul.dropdown {
    width: 100%;
    position: relative;
    left: 30px;
    z-index: 999;
    display: none;
  }
  
  ul li a:hover {
    transform: scale(1.2);

    
  }

  ul li:hover ul.dropdown {
    display: block;
  }

  input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }

  textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
